// Form
.form
    .form-toggle
    .form-panel.one
        .form-header
            h1 Registro de Bicicletas
        .form-content
            form(action='/bicicletas/create' method='post')
                .form-group
                    label(for="id") ID
                    input#username(type='text' name="id")
                .form-group
                    label(for="color") Color
                    input#password(type="text" name="color")
                .form-group
                    label(for="modelo") Modelo
                    input#username(type="text" name="modelo")
                .form-group
                    label(for="ubicacion") Ubicacion
                    input#password(type="text" name="lat")
                    input#password(type="text" name="long")

                .form-group
                     input.btn(type="submit" value='Crear') 
                     
link(rel='stylesheet' href='/stylesheets/crear.css')  
script(src='javascript/js.js')

