// Form
.form
    .form-toggle
    .form-panel.one
        .form-header
            h1 Actualizar de Bicicletas
        .form-content
            form(action=`/bicicletas/${bici.id}/update` method='post')
                .form-group
                    label(for="id") ID
                    input#username(type='text' name="id" value=bici.id)
                .form-group
                    label(for="color") Color
                    input#password(type="text" name="color" value=bici.color)
                .form-group
                    label(for="modelo") Modelo
                    input#username(type="text" name="modelo" value=bici.modelo)
                .form-group
                    label(for="ubicacion") Ubicacion
                    input#password(type="text" name="lat" value=bici.ubicacion[0])
                    input#password(type="text" name="long" value=bici.ubicacion[1])

                .form-group
                     input.btn(type="submit" value='Crear') 
   
link(rel='stylesheet' href='/stylesheets/crear.css')  
script(src='javascript/js.js')

